<link href="~/css/roles/roles.css" rel="stylesheet" />
<h1 class="my-5">Roles</h1>
<button class="btn btn-danger mb-5" id="agregarRol" onclick="GuardarRol()">Agregar Role</button>
<table id="roles" class="table table-striped" style="width:100%"></table>

<div id="rolesAddPartial"></div>


<script src="~/js/roles/roles.js"></script>